body{
    background-color: #E9F6FB;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-bottom: 25px;
}


.container a{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.logo-class{
    width: 10%;
}

.logo-class img{
    width: 100%;
}

.nav-links{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.login-register{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}




.test-container{
    display: flex;
    justify-content: space-between;
}

.btn-login{
    background-color: var(--main-green);
}

.btn-account a{
    transition: 0.5s all ;
}

.btn-account a:hover{
color: #FFB612;
font-weight: 600;
}