<app-admin-header></app-admin-header>
<div class="featured-title">
  <h1>Welcome To The <span> Admin Dashboard</span></h1>
</div>
  <div class="link-container">
    <div>
      <a routerLink="/manage-rental-cars">Manage Vehicles For Rent</a>
      <p>The car rental system allows you to effortlessly add new cars to your inventory,
         view and check details of available cars, update information on existing cars, and remove cars when needed. 
         This ensures smooth and efficient handling of your car rental operations, providing a seamless experience for you and your customers.</p>
    </div>
    <img src="assets/Sedan - 500x500.png" alt="" width="25%">
  </div>
  <div class="link-container">
    <div>
      <a routerLink="/manage-sales-cars">Manage Vehicles For Sale</a>
      <p>The car sales system allows for the seamless addition of new vehicles to the inventory, viewing and accessing details of cars available for sale,
         updating information on current listings, and removing cars as they are sold. This ensures efficient and organized management of your car 
         sales operations, providing a hassle-free experience for your team.</p>
    </div>
    <img src="assets/White honda sedan Product Kind Honda Car - 500x500.png" alt="" width="25%">
  </div>
  <div class="link-container">
    <div>
      <a routerLink="/all-users">Manage Users</a>
      <p>The user management system facilitates the smooth handling of user accounts, including creating new user profiles, accessing and updating user information, 
        and deactivating accounts/deleting accounts when necessary.</p>
    </div>

    <img src="assets/New 2018 Mazda3 Sport Base - 500x500.png" alt="" width="25%">
  </div>

  <div class="link-container">
    <div>
      <a routerLink="/all-bookings">Manage Bookings</a>
      <p>The booking management system efficiently handles vehicle rental reservations,
         viewing and updating booking details, and canceling reservations as necessary. This ensures streamlined management of rental bookings, 
         promoting organization and seamless operations for your vehicle rental service.</p>
    </div>

    <img src="assets/Nissan Sport Sedan Car - 500x500.png" alt="" width="25%">
  </div>


  <div class="link-container">
    <div>
      <a routerLink="/view-all-purchases">View Purchases</a>
      <p>The purchase management system efficiently handles vehicle rental transactions and allows viewing of purchase details. 
        This ensures streamlined management of rental purchases, promoting organization and seamless operations for your vehicle rental service.</p>
    </div>

    <img src="assets/Sedan - 500x500 (1).png" alt="" width="25%">
  </div>




