<app-no-login-header></app-no-login-header>
<main>
    <section class="about-us">
        <div class="container">
            <img src="assets/bmw-png.png" alt="" width="30%">

            <div class="featured-title">
                <h1>About <span> Steel Ride Rentals </span> & Sales</h1>
            </div>
            <p>Welcome to Steel Ride Rentals & Sales, Jamaica's premier destination for top-quality car rentals and sales. Founded in 2010, we have been dedicated to providing exceptional service and a wide selection of vehicles to meet all your driving needs.</p>
            
            <div class="featured-title">
                <h2>Our <span> Mission</span></h2>
            </div>

            <p>Our mission is to deliver an outstanding customer experience by offering high-quality vehicles for both rentals and sales, ensuring that every drive is a memorable one. We are passionate about cars and committed to sharing that passion with our customers.</p>
            
            <div class="featured-title">
                <h2>Why <span>Choose Us?</span></h2>
            </div>

            <ul>
                <li><strong>Extensive Selection:</strong> We offer a wide range of cars from leading brands to suit every driver's preference.</li>
                <li><strong>Competitive Prices:</strong> Our pricing is competitive and transparent, with no hidden fees.</li>
                <li><strong>Exceptional Service:</strong> Our knowledgeable and friendly staff are here to assist you with all your needs, from selecting the right car to providing maintenance tips.</li>
                <li><strong>Convenient Location:</strong> Located in the heart of Kingston, we are easily accessible and ready to serve you.</li>
            </ul>

            <div class="featured-title">
                <h2>Meet <span>Our Team</span></h2>
            </div>
            <p>Our team is composed of experienced car enthusiasts who are dedicated to ensuring you have the best experience possible. From our sales representatives to our maintenance crew, every member of our team shares a passion for cars and a commitment to customer satisfaction.</p>
            
            <div class="featured-title">
                <h2>Contact Us</h2>
            </div>
            <p>If you have any questions or need more information, feel free to <a routerLink="#">contact us</a>. We look forward to serving you!</p>
        </div>
    </section>
</main>
<app-footer></app-footer>
