.title{
    background-color: #FFB612;
    padding: 10px;
    font-family: "Lexend Zetta", sans-serif;
}

.title h1{
    font-size: 25px;
}

body{
    background-color: #E9F6FB;
}

.btn-home{
    margin: auto;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: #006787;
    color: #E9F6FB;
    width: 20%;
    border: none;
    transition: all 0.5s;
    text-decoration: none;
}

.btn-home:hover{
    background-color: #FFB612;
    color: #000;
}

.featured-title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background-color: #E9F6FB;
    padding: 20px;
}

.featured-title h1{
    font-size: 50px;
    font-weight: bold;
}


span{
    color: #006787;
}

.details-container{
    background-color: #E9F6FB;
    text-align: center;
    padding-bottom: 15px;
}

.details-container img{
    border: 3px solid #FFB612;
}

.details-container p{
    font-size: 25px;
    margin-top: 10px;
}