<app-user-header></app-user-header>
<body>
    

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="isError">{{ errorMessage }}</div>
<div *ngIf="booking">

    <div class="details-container">

 
    <div class="featured-title">
        <h1>Congratulations,<span> {{booking.first_nm}}</span>. Your Booking is Confirmed</h1>
    </div>
<img src="assets/uploads/{{booking.img}}" alt="" width="50%">
<p><b>Rent Date:</b> {{ booking.rent_date | date }}</p>
<p><b>Return Date:</b> {{ booking.return_date | date}}</p>
<p><b>Total Price:</b> {{ booking.total_price | currency }}</p>

<a routerLink="/logged-in" class="btn-home">Return Home</a>
</div>
</div>
</body>

