<footer>
    <div style="background-color: #006787; text-align: center;">
        <img src="assets/steel-ride-logo.png" alt="Steel Ride Rentals & Sales Logo" width="10%">
    </div>

    <div class="info-section">
    <div class="contact-info">
        <p><strong>Steel Ride Rentals & Sales</strong></p>
        <p>1234 Steel Ride Avenue, Kingston, Jamaica</p>
        <p>Phone: <a href="tel:+11234567890">(123) 456-7890</a></p>
        <p>Email: <a href="mailto:info@steelriderentals.com">info@steelriderentals.com</a></p>
    </div>
    <div class="hours-operation">
        <p><strong>Hours of Operation:</strong></p>
        <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
        <p>Saturday: 10:00 AM - 4:00 PM</p>
        <p>Sunday: Closed</p>
    </div>

    <div class="social-media">
        <p><strong>Follow Us:</strong></p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
        </ul>
    </div>
    <div class="legal">
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Steel Ride Rentals & Sales. All Rights Reserved.</p>
    </div>
</div>
</footer>

