<app-admin-header></app-admin-header>
<div class="featured-title">
    <h1>Manage <span>Users</span></h1>
</div>

<div *ngIf="!hasData" class="error-section">
    No Users Are In The Database
</div>

<div *ngIf="hasData" style="background-color: #E9F6FB;">
<table>
    <tr class="table-title">
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Access Level</td>
        <td>Status</td>
        <td>Actions</td>
    </tr>

    <tr *ngFor="let user of users  | paginate: { itemsPerPage: itemsPerPage, currentPage: p}">
        <td>{{user['id']}}</td>
        <td>{{user['first_nm']}}  {{user['last_nm']}}</td>
        <td>{{user['email']}}</td>
        <td>{{user['level']}}</td>
        <td>{{user['status']}}</td>
        <td class="actions">
            <a routerLink="/view-user/{{ user['id'] }}" class="btn btn-outline-info">View User</a>
            <a routerLink="/update-user/{{user['id']}}" class="btn btn-outline-info">Update User</a>
            <a routerLink="/delete-user/{{user['id']}}" class="btn btn-outline-info">Remove User</a>
        </td>
    </tr>
</table>

<div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>

<div style="background-color: #E9F6FB; padding: 40px;">
<button (click)="toggleForm()" class="btn-new">Add New User</button>
<a routerLink="/admin-dashboard" class="btn-return">Return To Dashboard</a>
</div>


<form #userFormElement (ngSubmit)="createUser(userForm)" #userForm="ngForm" class="formClass" *ngIf="showForm">
    <div class="featured-title">
        <h1>New <span>User</span></h1>
    </div>

    <input type="text" name="first_nm" placeholder="Enter The First Name" ngModel required><br>

    <input type="text" name="last_nm" placeholder="Enter The Last Name" ngModel required><br>

    <input type="text" name="email" placeholder="Enter The Email" ngModel required><br>

    <input type="password" name="password" placeholder="Enter The Password" ngModel required><br>

    <input type="date" name="l" placeholder="Enter The Password" ngModel hidden><br>

    <input type="text" name="level" placeholder="Enter The Password" ngModel  hidden><br>

    
    <button type="submit" class="btn-new">Add New User</button><br>

    <p *ngIf="formError" class="error-message">
           {{errorMessage}}
    </p>
</form>
